/* Reset */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* END Reset */
/* Typography */
html {font-size: 100%;} /*16px*/

body {
  background: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #000000;
}

p {margin-bottom: 1rem;}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 4.209rem;
}

h2 {font-size: 3.157rem;}

h3 {font-size: 2.369rem;}

h4 {font-size: 1.777rem;}

h5 {font-size: 1.333rem;}

small, .text_small {font-size: 0.75rem;}
/* END Typgraphy */

/*Gobal Styles*/
.wrapper{
    width: 1400px;
    margin: 2em auto;
}
/*END Gobal Styles*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
a:link {
    text-decoration: none;
}
a {
    color:#0c0c0c;
    font-size: 18px;
    font-weight: 600;
}

nav a {
    margin: 0 1em;
}
.hero {
    display: flex;
    align-items: center;
}

.hero p {
    font-size: 24px;
    color: #9c9c9c;
}

.hero-btn {
    margin-top: 10em;
}

.btn {
    padding: 16px 32px;
    border-radius: 10px;
}
.primary {
    color: white;
    background-color: #0c0c0c;
    margin-right: 1em;
}
.ghost {
    border: 1px solid #0c0c0c;
}
.hero-pic img {
    width: 40em;
}
.team{
    display: flex;
    justify-content: space-between;
}
.teams {
    display: flex;
    align-items: center;
}
.team-member {
    border: 1px solid #9c9c9c; /* see annab üke 1px joone koos värviga*/
    border-radius: 10px; /* see annab nurkade raadiuse*/
    height: 180px; /* annab kujundi kõrguse */
    width: 180px; /* annab kujundi laiuse */
    margin: 0 1em;
    padding: 1em;
}
.member-pic-1 {
    background-image: url(https://images.unsplash.com/photo-1667132970685-a2109a3ed00d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2574&q=80);
    background-size: cover;
    background-repeat: no-repeat;
}
.member-pic-2 {
    background-image: url(https://images.unsplash.com/photo-1564564321837-a57b7070ac4f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2676&q=80);
    background-size: cover;
    background-repeat: no-repeat;

}
.member-pic-3 {
    background-image: url(https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2670&q=80);
    background-size: cover;
    background-repeat: no-repeat;
}
.member-pic-4 {
    background-image: url(https://images.unsplash.com/photo-1664575602554-2087b04935a5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2574&q=80);
    background-size: cover;
    background-repeat: no-repeat;
}

.team-reverse {
    display: flex;
    flex-direction: row-reverse;
    align-content: center;
}
